# Annoying Mac OSX file
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
dev/
dist/
*.egg-info/

# Sphinx documentation
docs/_build/
